/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

/* Variables */
:root {
  --text-color: white;
  --hover-color: orange; /* #ffa500 */
  --font-main: "Poppins", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
}

/* Body */
body {
  background-image: url('/assets/images/parallax/Background.png');
  background-size: cover;
  background-position: center;
  color: var(--text-color);
}

/* Parallax / background */
#parallax-bg img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  object-fit: cover;
  transition: object-position 0.1s ease-in-out, transform 2.2s ease-in-out;
}

#moon {
  mix-blend-mode: screen;
}

#stars {
  top: -28vh;
}

/* Shooting stars */
#shooting-stars span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 4px;
  background: white;
  opacity: 0;
  transition: scale 1s ease-in-out;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(110, 201, 243, 0.1),
  0 0 0 8px rgba(104, 102, 175, 0.1),
  0 0 20px rgb(216, 45, 165);
}

#shooting-stars span::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 9vw;
  height: 1px;
  background: linear-gradient(90deg, rgb(252, 246, 255), transparent);  
}

#shooting-stars span.hidden {
  scale: 0%;
}

#shooting-stars :nth-child(1) {
  right: 0vw;
  top: 15vh;
  left: initial;
  animation-delay: 12.2s;
  animation-duration: 7.6s;
}

#shooting-stars :nth-child(2) {
  right: 30vw;
  left: initial;
  animation-delay: 2.8s;
  animation-duration: 6.4s;
}

#shooting-stars :nth-child(3) {
  right: 0vw;
  top: 20vh;
  left: initial;
  animation-delay: 6.3s;
  animation-duration: 5.6s;
}

#shooting-stars :nth-child(4) {
  right: 15vw;
  left: initial;
  animation-delay: 9.5s;
  animation-duration: 4.8s;
}

#shooting-stars :nth-child(5) {
  right: 60vw;
  left: initial;
  animation-delay: 7.3s;
  animation-duration: 3.8s;
}

#shooting-stars :nth-child(6) {
  right: 45vw;
  left: initial;
  animation-delay: 4.9s;
  animation-duration: 3s;
}

#shooting-stars :nth-child(7) {
  right: 25vw;
  left: initial;
  animation-delay: 8.7s;
  animation-duration: 6.8s;
}

/* Text body */
.text-container {
  position: relative;
  width: 45vw
}

@media (max-width: 767px) {
  .text-container {
    width: 90vw
  }
}

.zigzag-text, .zigzag-text ul li {
  position: relative;
  text-shadow: 3px 4px 7px rgba(189, 189, 189, 0.8);
}

.zigzag-text ul {
  list-style-position: inside;
}


/* Header */
li, a {
  font-size: 1.05rem;
  color: var(--text-color);
  text-decoration: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: -23vh; /* Initial position before slide down */
  left: 0;
  right: 0;
  align-items: center;
  padding: 3vh 3vw 3vh 5vw;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  transition: top 5s;
}

#navbar.slide-down {
  top: 0;
}

.logo {
  width: 180px;
  height: auto;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 70px;
}

.nav-links li {
  display: inline-block;
}

a {
  transition: all 0.2s ease-out;
}

a:hover {
  color: var(--hover-color);
}

#navbar .nav-links > .active > a {
  color: var(--hover-color);
}

.email-btn {
  padding: 0.6em 0.9em;
  background-color: rgba(255, 165, 0, 1);
  border: none;
  border-radius: 50px;
  font-size: 0.8rem;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.email-btn:hover {
  color: var(--text-color);
  scale: 1.05;
}

.email-btn:active {
  background-color: rgba(255, 165, 0, 0.8);
  scale: 0.95;
}

@media (min-width: 1921px) { /* sizes for larger than normal screen*/
  .email-btn {
    font-size: 0.95rem;
  }

  .logo {
    width: 205px;
  }

  li, a {
    font-size: 1.2rem;
  }

  .nav-links {
    gap: 85px;
  }
}

#navbar .bars {
  cursor: pointer;
  width: 25px;
}

#navbar .cross {
  cursor: pointer;
  display: none;
  width: 25px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 70px;
  height: 0px;
  right: 40px;
  width: 18em;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 100;
}

.dropdown-menu.open {
  height: 18em;
}

.dropdown-menu li {
  padding: 0.65em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu .email-btn {
  width: 100%;
  max-width: 19em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

@media (min-width: 1200px) { /* Large screen (no menu button) */
  #navbar .bars,
  #navbar .cross {
    display: none;
  }
}

@media(max-width: 1199px) { /* medium screen */
  #navbar .nav-links,
  #navbar .email-btn {
    display: none;
  }

  #navbar .bars {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
}

@media(max-width: 650px) { /* small screen */
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }

  .logo {
    width: 160px;
  }
}

/* Main */
#dev {
  font-weight: var(--font-weight-light);
  color: orange;
}

#bracket {
  font-weight: var(--font-weight-light);
}

.headers-container {
  /* Ensures the headers appear on the same line */
  display: flex;
}

.scroll-progress {
  position: fixed;
  top: 30vh;
  right: 1.5vw;
  width: 3px;
  height: 0vh;
  background-color: orange;

  transition: height 2s ease-out;
}

.scroll-progress-backdrop {
  position: fixed;
  top: 30vh;
  right: 1.5vw;
  width: 3px;
  height: 40vh;
  background-color: rgba(248, 248, 255, 0.6);
}

.side-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  position: fixed;
  left: 2vw;
  z-index: 100;
  gap: 3vh;
}

.side-button {
  display: flex;
  align-items: center;
}

.side-button img {
  width: 35px;
  height: auto;
}

@media (min-width: 1921px) { /* size for larger than normal screen*/
  .side-button img {
    width: 40px;
  }
}

.side-button:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

@media (max-width: 800px) { /* small screen (hide side buttons) */
  .side-button-container {
    display: none;
  }
}

.detail-btn {
  padding: 0.9em 1.2em;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: var(--font-weight-semi-bold);
  color: #2E2E2E;
  cursor: pointer;
  transition: all 0.3s ease-out;
  margin-top: 1.5vh;
}

.detail-btn:hover {
  scale: 1.05;
}

.detail-btn:active {
  background-color: rgba(255, 165, 0, 0.8);
  scale: 0.95;
}

.programming-languages {
  display: flex;
  padding-top: 1vh;
  justify-content: center;
  gap: 1vw;
}

.programming-languages img {
  width: 50px;
  height: auto;
}

#send-email-btn {
  font-size: 1rem;
}

@media (max-width: 767px) { /* small screen */
  .detail-btn {
    font-size: 0.9rem;
  }

  #send-email-btn {
    font-size: 0.9rem;
  }
  
  .programming-languages img {
    width: 40px;
  }
}

@media (min-width: 1921px) { /* larger than normal screen */
  .programming-languages img {
    width: 60px;
  }
}

/* Text sizes */
h1 {
  font-size: 7rem;
  font-weight: var(--font-weight-semi-bold);
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

h2 {
  font-size: 4rem;
  font-weight: var(--font-weight-medium);
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

h3 {
  font-size: 1.6rem;
  font-weight: var(--font-weight-regular);
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

h3 ul li {
  font-size: 1.3rem;
  font-weight: var(--font-weight-light);
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

p {
  font-size: 1.3rem;
  font-weight: var(--font-weight-light);
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

@media (min-width: 1024px) and (max-width: 1920px) { /* sizes for normal monitors */
  h1 {
    font-size: 6rem;    
  }
  
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h3 ul li {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) { /* Sizes for mid-sized devices */
  h1 {
    font-size: 5rem;    
  }
  
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h3 ul li {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.9rem;
  }

  /* parallax shift */
  #parallax-bg #lf1 {
    object-position: 41%;
  }

  #parallax-bg #lf2 {
    object-position: 32%;
  }

  #parallax-bg #lb {
    object-position: 40%;
  }

  #parallax-bg #rf {
    object-position: 64%;
  }

  #parallax-bg #rb {
    object-position: 60%;
  }
}

@media (max-width: 767px) { /* Sizes for mobile devices */
  h1 {
    font-size: 3.9rem;
  }
  
  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  h3 ul li {
    font-size: 0.75rem;
  }

  p {
    font-size: 0.75rem;
  }

  /* parallax shift */
  #parallax-bg #lf1 {
    object-position: 39%;
  }

  #parallax-bg #lf2 {
    object-position: 29%;
  }

  #parallax-bg #lb {
    object-position: 39%;
  }

  #parallax-bg #rf {
    object-position: 68%;
  }

  #parallax-bg #rb {
    object-position: 64%;
  }
  
}

/* Reset the left property to combat parallax being off of the edges due to height*/
@media (max-height: 576px) {
  #parallax-bg #lf1, 
  #parallax-bg #lf2, 
  #parallax-bg #rf, 
  #parallax-bg #lb, 
  #parallax-bg #rb {
    object-position: 0;
  }
}

.offwhite {
  color: #e5e5ece3;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* Animations */
.fade-in {
  animation-name: fade-in;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
  
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-delayed {
  animation-name: fade-in-delayed;
  animation-duration: 1.3s;
  animation-delay: 1.6s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fade-in-delayed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-up {
  animation-name: slide-up;
  animation-duration: 4.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.blur-in-slide-up {
  animation-name: blur-in-slide-up;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes blur-in-slide-up {
  0% {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.blur-in-slide-down {
  animation-name: blur-in-slide-down;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes blur-in-slide-down {
  0% {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.slide-right {
  animation-name: slide-right;
  animation-duration: 3s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-left {
  animation-name: slide-left;
  animation-duration: 3s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.reveal-dev {
  animation-name: reveal-dev;
  animation-duration: 4s;
  animation-delay: 1.5s;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  animation-fill-mode: forwards;
}

@keyframes reveal-dev {
  0% {
    transform: translateX(60%);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transform: translateX(0);
  }
}

.reveal-david {
  animation-name: reveal-david;
  animation-duration: 4s;
  animation-delay: 1.5s;
  transform: translateX(-28%);
  animation-fill-mode: forwards;
}

@keyframes reveal-david {
  0% {
    transform: translateX(-28%);
  }
  100% {
    transform: translateX(0);
  }
}

.shooting-star {
  animation-name: shooting-star;
  animation: shooting-star linear infinite;
}

@keyframes shooting-star {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-100vh);
    opacity: 0;
  }
}