/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

/* Variables */
:root {
  --text-color: white;
  --hover-color: orange; /* #ffa500 */
  --font-main: "Poppins", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
}

/* Body */
body {
  background-image: url('/assets/images/parallax/Background.png');
  background-size: cover;
  background-position: center;
  color: var(--text-color);
}

/* Parallax / background */
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: visible;
  transition: all 2s ease-in-out;
}

#moon {
  mix-blend-mode: screen;
  left: 0;
  top: 0;
}

#stars {
  top: -19rem;
}

/* Header */
li, a {
  font-size: 17px;
  color: var(--text-color);
  text-decoration: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: -150px; /* Initial position before slide down */
  left: 0;
  right: 0;
  align-items: center;
  padding: 35px 3% 35px 5%;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  transition: top 5s;
}

#navbar.slide-down {
  top: 0;
}

.logo {
  width: 11rem;
  height: auto;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3.8rem;
}

.nav-links li {
  display: inline-block;
}

a {
  transition: all 0.2s ease-out;
}

a:hover {
  color: var(--hover-color);
}

#navbar .nav-links > .active > a {
  color: var(--hover-color);
}

.email-btn button {
  padding: 0.4rem 0.8rem;
  background-color: rgba(255, 165, 0, 1);
  border: none;
  border-radius: 50px;
  font-size: 0.8rem;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.email-btn button:hover {
  scale: 1.05;
}

.email-btn button:active {
  background-color: rgba(255, 165, 0, 0.8);
  scale: 0.95;
}

@media (min-width: 1921px) { /* sizes for larger than normal screen*/
  li, a, button {
    font-size: 20px;
  }

  .logo {
    width: 12.6rem;
  }

  .nav-links {

    gap: 4.2rem;
  }

  .email-btn button {
    font-size: 0.95rem;
  }

}

#navbar .bars {
  cursor: pointer;
  width: 1.3rem;
}

#navbar .cross {
  cursor: pointer;
  display: none;
  width: 1.3rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 70px;
  height: 0px;
  right: 2rem;
  width: 300px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 100;
}

.dropdown-menu.open {
  height: 290px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu .email-btn button {
  width: 100%;
  max-width: 16rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

@media (min-width: 1200px) { /* Large screen (no menu button) */
  #navbar .bars,
  #navbar .cross {
    display: none;
  }
}

@media(max-width: 1199px) { /* medium screen */
  #navbar .nav-links,
  #navbar .email-btn {
    display: none;
  }

  #navbar .bars {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
}

@media(max-width: 650px) { /* small screen */
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }

  .logo {
    width: 10rem;
  }
}

/* Main */
.scroll-progress {
  position: fixed;
  top: 30%;
  right: 1.5%;
  width: 3px;
  height: 0rem;
  background-color: orange;

  transition: height 1.5s ease-out;
}

.scroll-progress-backdrop {
  position: fixed;
  top: 30%;
  right: 1.5%;
  width: 3px;
  height: 25rem;
  background-color: rgba(248, 248, 255, 0.6);
}

.side-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  position: fixed;
  left: 1.5rem;
  z-index: 100;
  gap: 2rem;
}

.side-button {
  display: flex;
  align-items: center;
}

.side-button img {
  width: 1.8rem;
  height: auto;
}

@media (min-width: 1921px) { /* size for larger than normal screen*/
  .side-button img {
    width: 2.1rem;
  }
}


.side-button:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

@media (max-width: 800px) { /* small screen (hide side buttons) */
  .side-button-container {
    display: none;
  }
}

/* Text sizes */
h1 {
  font-size: 5em;
  font-weight: var(--font-weight-semi-bold);
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

h2 {
  font-size: 4em;
  font-weight: var(--font-weight-medium);
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

h3 {
  font-size: 1.8em;
  font-weight: var(--font-weight-regular);
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

p {
  font-size: 1.3em;
  font-weight: var(--font-weight-light);
  line-height: 1.5;
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

@media (min-width: 1024px) and (max-width: 1920px) { /* sizes for normal monitors */
  h1 {
    font-size: 4em;    
  }
  
  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1023px) { /* Sizes for mid-sized devices */
  h1 {
    font-size: 3.4em;    
  }
  
  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.3em;
  }

  p {
    font-size: 0.9em;
  }

  /* parallax shift */
  #lf1 {
    left: 5rem;
  }

  #lf2 {
    left: 11rem;
  }

  #rf {
    left: -11rem;
  }

  #lb {
    left: 4rem;
  }

  #rb {
    left: -4rem;
  }
}

@media (max-width: 767px) { /* Sizes for mobile devices */
  h1 {
    font-size: 3em;
  }
  
  h2 {
    font-size: 2.4em;
  }

  h3 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
  }

  /* parallax shift */
  #lf1 {
    left: 6rem;
  }

  #lf2 {
    left: 15rem;
  }

  #rf {
    left: -15rem;
  }

  #lb {
    left: 5rem;
  }

  #rb {
    left: -5rem;
  }
}

.offwhite {
  color: ghostwhite;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* Animations */
.fade-in {
  animation-name: fade-in;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
  
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-up {
  animation-name: slide-up;
  animation-duration: 4.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.blur-in-slide-up {
  animation-name: blur-in-slide-up;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes blur-in-slide-up {
  0% {
    opacity: 0;
    filter: blur(1px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.blur-in-slide-down {
  animation-name: blur-in-slide-down;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes blur-in-slide-down {
  0% {
    opacity: 0;
    filter: blur(1px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.slide-left {
  animation-name: slide-left;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-right {
  animation-name: slide-right;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}